{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" "Página não encontrada" ) | htmlUnescape -}}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" "Busca") }}"
        aria-label="search" type="search" autocomplete="off">
    <ul id="searchResults" aria-label="search results"></ul>
</div>

<div class="not-found">404</div>
{{- end }}{{/* end main */ -}}
